# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE specific
.idea/
.vscode/
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.tgz
*.lock

# SASS or CSS cache
.sass-cache/
