# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# IDE specific
.idea/
.vscode/
.DS_Store

# Misc
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
